doctype html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/vendor/jquery/2.1.1/jquery.min.js')
    block script
  body
    block content